html {
    scroll-behavior: smooth;
}

body {
    color: black;
    font-family: 'Poppins', sans-serif;
}

head {
    color: #dddddd;
}

title {
    color: #dddddd;
}

#header {
    background: url(https://images.unsplash.com/photo-1485846234645-a62644f84728?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1159&q=80);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    width: auto;
    height: calc(100vh - 4.45rem);
}





.navbar {
    background-color: black;
    color: white;
}

.navbar::before {
    content: "";
    background: url('../pic.webp') no-repeat center center/cover;
    position: absolute;
    height: 589px;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: -1;
    opacity: 0.9;
}


.navbar~* {
    position: relative;
    top: 4.45rem;
}

.navTitle {
    color: #ffffff;
    padding-left: 50px;
    size: 50px;
    font-weight: 600;
}














nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    color: #333;
    text-decoration: none;
}

.logo img {
    max-height: 50px;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0;
    padding-bottom: 100px;
}

main {
    /* Add padding to the bottom of the main content area */
    padding-bottom: 50px;
}




body {
    font-family: 'Segoe UI', 'San Francisco', Calibri, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 2.5rem;
    /* Footer height */
}


/* #footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;            /* Footer height */
/* } */


/* FOOTER  */

/* .footer {
    padding: 6rem 0rem 4rem 4rem;
    color: #fff;
    background-color: #272829;
    display: grid;
    align-items: flex-start;
    grid-template-columns: repeat(4, 1fr);
}

.f-brand {
    font-size: 2rem;
    font-weight: 600;
    color: #fff;
}

.info {
    color: #6c757d;
    font-weight: 300;
    width: 80%;
}

.info div {
    color: #aeb2b8;
    font-size: 1.5rem;
}

a:hover {
    text-decoration: none;
    color: #ff0b23;
}

footer h2 {
    font-size: 1.5rem;
    font-weight: 600;
}

footer a {
    color: #fff;
    text-decoration: none;
}

.f-content a {
    display: block;
    line-height: 2;
    width: 3.4rem;
    font-size: 0.96rem;
    margin-left: 0.2rem;
}

.f-links {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
} */

/* Copyrights Footer */

/* .f-copyright {
    height: 4rem;
    font-size: 0.9rem;
    font-weight: 300;
    color: #fff;
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-copyright p {
    margin: 0;
} */

/* @keyframes blink {
    from {
        border-right-color: rgba(255, 255, 255, 0.75);
    }
    to {
        border-right-color: rgba(255, 255, 255, 0);
    }
}

@media (max-width: 320px) {
    .lead {
        margin-top: 60%;
    }
    #header {
        width: 510px;
    }
    #icon1 {
        margin-top: -6%;
    }
    #gallery1 {
        font-size: 1.5rem;
        margin-top: 5%;
        margin-left: 50%;
        text-transform: uppercase;
    }
    #normal-view {
        margin-left: 50%;
    }
}

@media (min-width: 321px) and (max-width: 449px) {
    .lead {
        margin-top: 50%;
    }
    #header {
        width: 500px;
    }
    #gallery1,
    #normal-view {
        margin-left: 20%;
    }
}

@media (min-width: 449px) and (max-width: 750px) {
    #header {
        width: 100%;
    }
}

@media (min-width: 760px) {
    #header {
        width: 100%;
    }
}

@media (min-width: 800px) and (max-width: 1440px) {
    #header {
        width: 100%;
    }
}

@media only screen and (max-width: 600px) {
    .display-3 {
        font-size: 4rem;
    }
    .gallery-head {
        font-size: 2rem;
    }
    .navTitle {
        padding-left: 3px;
    }
}

@media only screen and (min-width: 992px) {
    #header {
        height: calc(100vh - 4.45rem - 15px);
    }
    .navbar~* {
        top: calc(4.45rem + 15px);
    }
}

@media only screen and (max-width: 992px) {
    .production {
        display: none;
    }
    .footer {
        display: grid;
        grid-template-columns: 45% 27% 27%;
        justify-content: center;
    }
}


/* Styles for if the screen is taller than it is wide (assumed mobile view) */
/* 
@media screen and (max-aspect-ratio: 8/7) {
    .display-3 {
        font-size: 6rem;
    }
}

.card-title {
    font-weight: 600;
    color: #94000f;
}  */





/*******    CSS By Sudhanshu Ranjan **********/

.alumini-donation-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}


/* Event Page  */

.event-galley {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
}


.event-card {
    width: 18rem;
    background-color: #fff;
    border-radius: 10px;
    margin: 10px;
    overflow: hidden;
    position: relative;
    margin: 3rem auto;
}

.image_container {
    width: 18rem;
    height: 12rem;
    overflow: hidden;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* box-shadow: 0 0 10px rgba(0,0,0,0.5); */
}

.event-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.docs-caption h4 {
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0.8rem auto;
}

.event-detail {
    font-size: 0.9rem;
    color: rgb(81, 81, 81);
}

.event-date-venue {
    font-size: 0.9rem;
    color: rgb(131, 131, 131);
    margin: 0.5rem auto;
    font-weight: 500;
}

.index-container {
    width: 100%;
    overflow: hidden;
}

/* Hero section */
.index-container {
    margin-top: -1rem;
}

.hero-container {
    background-image: linear-gradient(45deg,
            rgba(245, 70, 66, 0.75),
            rgba(8, 83, 156, 0.75)), url('https://assets.stanford.edu/i/2000x0/filters:quality(60)/f/103430/3500x2335/551d552bc3/20211228winter_closure_slidshow_sra8683.jpg');
    ;
    height: 100vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 0;
}

.hero-text {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 80%;
}

.hero-text h1 {
    font-size: 3.5rem;
    font-weight: 700;
}

.hero-text p {
    font-size: 1.4rem;
    font-weight: 400;
    margin-top: 1rem;
}

.hero-text h3 {
    font-size: 1.7rem;
    font-weight: 500;
}

.from-directors-desk {
    background-color: #ffffff;
    padding: 2rem 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.from-directors-desk h1 {
    font-size: 1.7rem;
    font-weight: 700;
    color: #333;
    margin: 1rem auto;
}

.img-msg {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: auto;
    background-color: #ffcdb7;
    padding: 2rem;
    border-radius: 1.5rem;
    gap: 2rem;
    text-align: justify;
}

@media screen  and (max-width: 1000px) {
    .img-msg {
        width: 90%;
    }
}

@media screen  and (max-width: 768px) {
    .img-msg {
        flex-direction: column;
        gap: 1rem;
        width: 95%;
    }
}


.dir-image img {
    height: 10rem;
    width: 10rem;
}

.dir-image {
    margin-right: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}

.dir-image h6 {
    font-size: 1.1rem;
    font-weight: 600;
    color: #333;
}

.dir-msg {
    font-size: 1rem;
    font-weight: 500;
    color: #575757;
}

footer {
    background: #000;
    color: rgb(150, 150, 150);
    padding: 1rem 0;
    margin: unset;
}

.footer-items{
    display: flex;
    flex-direction: column;
    gap:0.5rem;
}

.footer-item {
    display: flex;
    align-items: center;
    justify-content: start;
}

.footer-icon {
    margin-right: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #696969;
    padding: 0.5rem;
    border-radius: 50%;
    height: 2.5rem;
    width: 2.5rem;
    color: white;
}

.footer-item-text{
    font-size: 1.2rem;
    font-weight: 500;
    color: rgb(150, 150, 150);
}

.footer-foot {
    display: flex;
    padding: 1rem 3rem;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgb(59, 59, 59);
    margin-bottom: -2rem;
}

.footer-about{
    max-width: 18rem;

}

footer{
    margin-top: 5rem;
}

.footer-head{
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}

@media screen and (max-width:720px) {
    .footer-head{
        flex-direction: column-reverse;
        gap: 3rem;
    }
}

.footer-links{
    display: flex;
    gap: 0.5rem;
    font-size: 3rem;
}

.footer-link{
    cursor: pointer;
    padding: 0.5rem;
}
